@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap');

body{
    font-family: 'Urbanist', sans-serif;
    background: #f2faff;
    margin: 0;
    padding: 0;
}

/*------------ Login and Signup container ------------*/
.box-area{
    width: 930px;
}

/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}

.left-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #88c3fb;
}

/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

/*------------ Button ------------*/
.btn-general{
    width: 100%;
    background-color: #009bf9;
    color: white;
}
.btn-general:hover{
    width: 100%;
    background-color: #009bf9;
    color: white;
}


/*------------ INDEX ------------*/
/*------------ Navbar  ------------*/
.navbar {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-search-bar {
    width: 200px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.searchbar{
    display: flex;
    align-items: center;
    background: rgb(233, 232, 232);
    width: 600px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d6d8db;
}

/* Remove styles on focus */
.searchbar input:focus {
    border: initial !important;
    outline: initial !important;
    box-shadow: none !important; /* Add this to remove any box-shadow effect */
    background: initial !important;
    margin-left: initial !important;
}
.searchbar .musicicon{
    color: #009BF9;
    margin-left: 10px;
}
.searchbar input{
    border: none;
    outline: none;
    background: transparent;
    margin-left: 7px;
}
.icon i{
    font-size: 24px;
}


/*------------ Sidebars ------------*/
/* Left Sidebar */
.sidebar-left {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    color: #FFFFFF;
}
/* Right Sidebar */
.sidebar-right {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px;
}

/*------------ Main Content  ------------*/
.content {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-top: 75px;
    width: 60%;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
.sidebar-footer h5 {
    margin-bottom: 10px;
    color: black;
    font-size: 18px;
}

.sidebar-footer p {
    margin-bottom: 0;
    color: black;
    font-size: 12px;
}

.menu{
    padding-top: 15px;
}
.menu a {
    list-style: none;
    width: 100%;
    font-size: 12px;
    color: black;
    display: flex;
    align-items: center;
    line-height: 40px;
    position: relative; /* Add relative positioning for pseudo-elements */
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
}
.menu a:hover{
    color: #009BF9;
    background-color: rgba(0, 155, 249, 0.1);
}
.menu .active{
    color: #009BF9;
    background-color: rgba(0, 155, 249, 0.1);
}
.menu .icon{
    margin-left: 10px;
    font-size: 18px;
}
.menu a:hover::before,
.menu .active::before{
    content: "";
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    margin-right: 10px;
    background: #009BF9;
}
.menu a:link, a:visited {
    text-decoration: none;
}

/*------------ Profile Statistics  ------------*/
.profile-statistics {
    margin-top: 15px;
}
/* Statistic Row */
.statistic-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
/* Statistic Item */
.statistic-item {
    width: 48%; /* Adjust as needed to leave some space between items */
}
/* Statistic Number */
.statistic-number {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
/* Statistic Description */
.statistic-description {
    font-size: 14px;
}


/*------------ Create Postcard  ------------*/
#create-postcard-section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    margin-bottom: 20px;
}
#postcard-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#postcard-box img {
    border-radius: 50%;
    margin-right: 10px;
}

/*------------ Postcard Feed  ------------*/
.postcard {
    perspective: 1000px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    width: 100%;
    aspect-ratio: 6 / 4;
}

.postcard:hover {
    transform: rotateY(180deg);
}

.postcard div {
    backface-visibility: hidden;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.back {
    transform: rotateY(180deg);
}

.complete-view-postcard{
    height: 60vh;
}
.complete-postcard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Set height to 100% to ensure it takes the full height of the parent container */
    padding: 20px;
    background-color: #E6F4F1;
}

/* Style for the Extended Description Column */
.post-description {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    height: 60vh;
    max-height: 60vh;
}

/* Style for the Post Description Text */
.post-description h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.post-description p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}
/* Style for Hashtags */
.post-description p span {
    color: #007bff; /* Hashtag color */
    font-weight: bold;
}
/* Style for Badges or Tags */
.badges {
    margin-top: 10px;
}
.badge {
    margin-right: 5px;
    font-size: 12px;
    padding: 8px 12px;
    background-color: #FCFCD4;
    color: gray;
    margin-bottom: 5px;
}


/*------------ Postcard Footer bx to comment  ------------*/

/* Comments Section */
.comments-section {
    border: 1px solid #ced0d4;
    background-color: white;
    padding: 20px;
}

/* Individual Comment Styling */
.comment {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-bottom: 5px;
    
}

/* .comment-text{
    background-color: #F2FAFF;
    padding: 10px;
    border-radius: 10px;
} */
.comment img {
    margin-right: 10px;
}

.comment-text span {
    margin-right: 5px;
}

/* New Comment Input Box Styling */
/* .new-comment {
    
    margin-top: 10px;
} */

.new-comment img {
    margin-right: 10px;
}

/* Adjustments for Responsive Design */
@media (max-width: 768px) {
    .comments-section {
        padding-top: 20px;
    }

    .comment img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    .new-comment img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}

/* Add styling for threaded (reply) comments */
.reply {
    margin-left: 30px; /* Adjust the margin to create an indentation for reply comments */
    /* background-color: #f8f8f8; */
}
/* .reply .comment-text{
    background-color: #F2FAFF;
    padding: 10px;
    border-radius: 10px;
} */

/* Add styling for comment dates */
.comment-date {
    font-size: 12px;
    color: #888;
    font-weight: 100;
}


/* Adjustments for Responsive Design */
@media (max-width: 768px) {
    .comments-section {
        padding-top: 20px;
    }

    .comment img,
    .reply img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    .new-comment img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}


/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
    .box-area{
    margin: 0 10px;
    }
    .left-box{
    height: 100px;
    overflow: hidden;
    }
    .right-box{
    padding: 20px;
    }
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
    .box-area{
    margin: 0 10px;
    }
    .left-box{
    height: 100px;
    overflow: hidden;
    }
    .right-box{
    padding: 20px;
    }
}

/*------------ Diary timeline------------*/
.year {
    position: relative;
    /* padding-left: 20px; */
}

/* .year:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: 10px;
    background-image: linear-gradient(to bottom,#009BF9,#5BF6C5);
    border-radius: 5px;
} */

.month-date {
    position: relative;
}

.timeline-content {
    flex-grow: 1;
}
/* .post-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.post-content {
    margin-bottom: 10px;
} */
.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
}
.social-interactions i {
    margin-right: 5px;
}
/* .year h3 {
    margin-left: 10px;
} */
.blog-item{
    margin-left: 30px;
}
.blog-item img{
    border-radius: 5px;
}
/* .month-date h4{
    margin-left: 10px;
}
 */

/*------------Footprint Boxes------------*/

.small-box {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.small-box p, .small-box h3{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
}

.small-box .inner {
    padding: 20px;
}

.small-box .icon {
    position: absolute;
    top: 30%;
    right: 0; /* Adjust the right margin as needed */
    transform: translateY(-50%);
    color: rgba(0, 0, 0, .15);
    z-index: 0;
}

.small-box .icon > i {
    font-size: 70px;
    transition: transform .3s linear;
}

.small-box:hover .icon > i {
    transform: scale(1.1);
}

.small-box .small-box-footer {
    background-color: rgba(0, 0, 0, .1);
    color: black;
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

/*------------ Footprint timeline------------*/
.footprint-main {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	padding: 50px 0 0;
}
.footprint-main {
	font-size: 29px;
	color: rgba(0, 155, 249);
	position: relative;
	font-weight: 500;
}

.footprint-container {
	width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}
.footprint-container ul {
	list-style: none;
}
.footprint-container ul::after {
	content: "";
	position: absolute;
	width: 3px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-image: linear-gradient(to bottom, rgba(0, 155, 249, 0.747), rgba(91, 246, 197, 0.747));
}
.footprint-container ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
}
.footprint-container ul li:nth-child(4) {
	margin-bottom: 0;
}
.footprint-container ul li .footprint-circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #5BF6C5;
	top: 0;
	display: grid;
	place-items: center;
}
.footprint-circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: #009BF9;
	border-radius: 50%;
}
ul li:nth-child(odd) .footprint-circle {
	transform: translate(50%, -50%);
	right: -14px;
}
ul li:nth-child(even) .footprint-circle {
	transform: translate(-50%, -50%);
	left: -16px;
}
ul li .footprint-date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-image: linear-gradient(to right,#009BF9,#5BF6C5);
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.footprint-container ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
ul li:nth-child(odd) .footprint-date {
	right: 0;
}
ul li:nth-child(even) .footprint-date {
	left: 0;
}
.footprint-container ul li:nth-child(even) {
	float: right;
	clear: left;
	/* transform: translateX(30px); */
}
ul li .footprint-heading {
	font-size: 17px;
	color: rgb(0, 155, 249);
}
ul li p {
	font-size: 13px;
	color: #666;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
ul li a {
	font-size: 13px;
	text-decoration: none;
	color: rgb(0, 155, 249);
	transition: all 0.3s ease;
}


@media only screen and (min-width:798px) and (max-width: 1100px) {
	.footprint-container{
		width: 80%;
	}
}

@media only screen and (max-width: 798px) {
	.footprint-container{
		width: 70%;
		transform: translateX(20px);
	}
	.footprint-container ul::after{
		left: -40px;
	}
	.footprint-container ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.footprint-container ul li .footprint-circle{
		left: -40px;
		transform: translate(-50%, -50%);
	}
	.footprint-container ul li .footprint-date{
		left: 20px;
	}
	.footprint-container ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.footprint-container ul li:nth-child(even) {
		transform: translateX(0px);
	}
}

@media only screen and (max-width: 550px) {
	.footprint-container{
		width: 80%;
	}
	.footprint-container ul::after{
		left: -20px;
	}
	.footprint-container ul li .footprint-circle{
		left: -20px;
	}
}





/* Card styling for Chat List */
.chat-list {
    height: calc(100vh - 110px); /* Viewport height minus navbar height */
}
.chat-list .card-body{
    overflow-y: auto;
}


.chat-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
}
.chat-item:hover {
    background-color: #eee;
}
.chat-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.chat-name{
    font-size: 14px;
    margin: 0 0 0 0;
}
.chat-last-message{
    font-size: 14px;
    margin: 0 0 5px 0;
    color: gray;
}
.chat-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.chat-last-message-hour {
    color: #009BF9;
    margin: 0;
    font-size: 14px;
}
.seen-status {
    font-size: 18px;
    color: green;
}
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Card styling for Selected Chat Display */
.selected-chat {
    height: calc(100vh - 110px); /* Viewport height minus navbar height */
    overflow-y: auto;
}

.message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.message-content {
    background: #eaeaea;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.message.sent {
    justify-content: flex-end;
}

.message.sent .message-content {
    background: #88C3FB;
    color: #0053B5;
}




.chat-searchbar{
    display: flex;
    align-items: center;
    background: rgb(233, 232, 232);
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d6d8db;
}
/* Remove styles on focus */
.chat-searchbar input:focus {
    border: initial !important;
    outline: initial !important;
    box-shadow: none !important; /* Add this to remove any box-shadow effect */
    background: initial !important;
    margin-left: initial !important;
}
.chat-searchbar .musicicon{
    color: #009BF9;
    margin-left: 10px;
}
.chat-searchbar input{
    border: none;
    outline: none;
    background: transparent;
    margin-left: 7px;
}
.chat-searchbar .icon i{
    font-size: 24px;
}

.selected-chat .card-header {
    display: flex;
    align-items: center; /* Center vertically within the flex container */
}

.selected-chat .card-header img {
    margin-right: 10px; /* Adjust as needed to add space between the image and the heading */
}





.paper {
    height: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 5px 0px #888;
    position: relative; /* Relative positioning for child elements */
}
.paper::before {
    content: '';
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
}
.lines {
    margin-bottom: 20px;
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.text {
    position: relative;
    padding: 50px;
    line-height: 25px;
    font-family: 'Indie Flower';
    overflow: hidden;
    outline: none;
}
.holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: #EFFAFF;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
}
.hole-top {
    top: 10%;
}
.hole-middle {
    top: 50%;
}
.hole-bottom {
    bottom: 10%;
}

.meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #003360;
}


/* WebKit Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #009BF9; /* Thumb color */
}

::-webkit-scrollbar-track {
    background-color: #E6F4F1; /* Track color */
}

/* Optional: Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #009BF9;
}






/* Custom Card Styles */
.custom-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

/* Custom Card Header Styles */
.custom-card-header {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Custom Card Body Styles */
.custom-card-body {
    padding: 10px;
    background-color: white;
}

/* Profile Section Styles */
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profile Picture Styles */
.profile-picture-friend {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

/* Online Status Indicator Styles */
.online-status-indicator {
    border: 3px solid #5FAF64; /* Set the border color as needed */
    border-radius: 50%;
    overflow: hidden;
    width: 90px; /* Adjust the size as needed */
    height: 90px; /* Adjust the size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Custom Card Footer Styles */
.custom-card-footer {
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #ccc;
}

/* Button Styles */
.btn {
    margin-top: 5px;
}


/* .collections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cover-border {
    border-radius: 50%; 
    border: 3px solid #88C3FB;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-image img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
} */




.progress-bar{
    background-color: #009BF9;
}

.add-footprint-card{
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}
.add-footprint-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
    opacity: 0;
    transition: opacity 0.3s ease;
}
.add-footprint-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.add-footprint-card:hover .add-footprint-overlay {
    opacity: 1;
}

.add-footprint-card:hover .add-footprint-content i {
    transform: scale(1.2); /* Adjust the scale factor for the desired growth */
}
/*---------------*/



:root {
--c-grey-100: #f4f6f8;
--c-grey-200: #e3e3e3;
--c-grey-300: #b2b2b2;
--c-grey-400: #7b7b7b;
--c-grey-500: #3d3d3d;
--c-blue-500: #009BF9;
}
/* Some basic CSS overrides */

/* End basic CSS override */
.timeline {
    width: 85%;
    /* max-width: 700px; */
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-direction: column; */
    /* padding: 32px 0 32px 32px; */
    border-left: 2px solid #00E9EE;
    font-size: 1.125rem;
}
.timeline-item {
    display: flex;
    gap: 24px;
}
.timeline-item + * {
    margin-top: 24px;
}

.timeline-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -52px;
    flex-shrink: 0;
    overflow: hidden;
    box-shadow: 0 0 0 6px #fff;
}

.timeline-item-icon.filled-icon {
    background-color: var(--c-blue-500);
    color: #fff;
}
.timeline-item-description {
    display: flex;
    padding-top: 6px;
    gap: 8px;
    color: var(--c-grey-400);
}

.timeline-item-description a {
    color: var(--c-grey-500);
    font-weight: 500;
    text-decoration: none;
}


.footprint-list {
    margin-top: 12px;
    color: var(--c-grey-500);
    border: 1px solid var(--c-grey-200);
    box-shadow: 0 4px 4px 0 var(--c-grey-100);
    border-radius: 6px;
    padding: 16px;
    font-size: 1rem;
}


/*----------------------- */
.postcard-collections2 .wrapper{
    position: relative;
    margin-bottom: 15px;
}
.postcard-collections2 .wrapper i{
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: white;
    color: #4E8EC2;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.postcard-collections2 .wrapper i:first-child{
    left: -23px;
    z-index: 1;
    display: none;
}
.postcard-collections2 .wrapper i:last-child{
    right: -23px;
}
.postcard-collections2 .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.postcard-collections2 .wrapper .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.postcard-collections2 .wrapper .carousel.dragging img{
    pointer-events: none;
}

.postcard-collections2 .wrapper .carousel img{
    object-fit: cover;
    width: calc(100% / 8);
    margin-left: 14px;
    border-radius: 15px;
}

.postcard-collections2 .wrapper .carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width:900px){
    .postcard-collections2 .wrapper .carousel img{
        width: calc(100% / 6);
    }
}

@media screen and (max-width:550){
    .postcard-collections2 .wrapper .carousel img{
        width: calc(100% / 4);
    }
}



.postcard-feed .firstCard{
    height: 100%;
    overflow: hidden;
}
.postcard-img {
    width: 100%;
    object-fit: cover;
}